__pycache__/
*.py[cod]

build/
dist/
sdist/
.eggs/
*.egg-info/
.DS_Store

# Editor settings
.vscode/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log
*.db

# Sphinx documentation
docs/_build/

# pycharm
.idea/

tmp/
.venv/*
.env
.github/*
.pre-commit-config.yaml

CODE_OF_CONDUCT.md
CONTRIBUTING.md
Dockerfile
LICENSE
README.md
commitlint.config.js
docker-compose.ci.yml
docker-compose.dev.yml
docs/*
screenshot*
